@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Secular+One&display=swap');
*{
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 box-sizing: border-box;
 list-style: none;
 text-decoration: none;
 font-family: 'Noto Sans JP', sans-serif;
 font-family: 'Secular One', sans-serif;
}

:root {
    --header-height: 3rem;

    --font-normal: 400;
    --font-medium: 500;

    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    --color-bg: #67ffe6;
    --color-bg-variant: #1f4dcd;
    --color-primary:#9f1f1f;
    --color-primary-variant:#5f1f1f;
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);
    --container-with-lg: 75%;
    --container-with-mg: 86%;
    --container-with-ms: 90%;
} 

@media  and (max-width: 992px) {
    :root {
        --big-font-size: 2.75rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: 0.93rem;
        --small-font-size: 0.8rem;
        --smaller-font-size: 0.75rem;
    }
}

body {
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
}
